@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
text-size-adjust:100%;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}

body { 
    background-color: #E7E5D9
}

.head { 
    background: transparent url(/images/masthead-bg.png) repeat left center;
    text-align: center;
}

.logo { 
    margin: -.5rem 1rem 0 1rem;
	width: 1.2em;
	vertical-align: middle;
}

.headtext { 
    display: inline-block;
    background-color: #E7E5D9;
}

.list { 
    padding-left: 3rem;
    padding-top: 1rem;
    padding-right: 3rem;
}

.mugshots1 { 
    width: 88%;
	border-image: url("../images/panel-border.png") 30 30 30 30 stretch stretch;
	border-width: 30px 30px 30px 30px;
    margin-left: .5rem;
}

.mugshots2 { 
    width: 88%;
	border-image: url("../images/panel-border.png") 30 30 30 30 stretch stretch;
	border-width: 30px 30px 30px 30px;
    margin-left: .5rem;
    margin-top: .5rem;
}

.white { 
    color: white;
}

.icons1 { 
    width: 20%;
    padding-top: 1rem;
}

.icons2 { 
    padding-top: 5rem;
    width: 15%;
    padding-bottom: 1rem;
}

p {
    text-align: center;
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.box {
    background-color: #87714F;
}

dt { 
    letter-spacing: .1rem;
}

@media only screen and (min-width: 22em) { 
    
    .mugshots1 { 
            width: 88%;
	        border-image: url("../images/panel-border.png") 30 30 30 30 stretch stretch;
	        border-width: 30px 30px 30px 30px;
            margin-left: 1rem;
}

    .mugshots2 { 
            width: 88%;
	        border-image: url("../images/panel-border.png") 30 30 30 30 stretch stretch;
	        border-width: 30px 30px 30px 30px;
            margin-left: 1rem;
}
}

@media only screen and (min-width: 50em) {
    
    .mugshots1 { 
        width: 88%;
	    border-image: url("../images/panel-border.png") 30 30 30 30 stretch stretch;
	    border-width: 30px 30px 30px 30px;
        margin-right: 2.5rem;
        margin-left: 0;
}

    .mugshots2 { 
        width: 88%;
	    border-image: url("../images/panel-border.png") 30 30 30 30 stretch stretch;
	    border-width: 30px 30px 30px 30px;
        margin-left: 2.5rem;
}
}

@media only screen and (min-width: 60em){
    
    .mugshots1 { 
        width: 88%;
	    border-image: url("../images/panel-border.png") 30 30 30 30 stretch stretch;
	    border-width: 30px 30px 30px 30px;
        margin-right: 4rem;
        margin-left: 0;
}

    .mugshots2 { 
        width: 88%;
	    border-image: url("../images/panel-border.png") 30 30 30 30 stretch stretch;
	    border-width: 30px 30px 30px 30px;
        margin-left: 3rem;
}
}
